# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
tsconfig.tsbuildinfo
npm-debug.log*

# dependencies
node_modules/

# testing
coverage/
vitest.config.ts.timestamp-*

# production
build/
dist/

# Turborepo
out/
.turbo
